    <div id="content">
        <h1>ABOUT ME</h1>


        <div id="container">
            <div id="overview">
                <div id="info">
                    <h2 style="text-align: center;">Basic info</h2>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item list-group-item-action"><span class="lead">Name</span> - Andre</li>
                        <li class="list-group-item list-group-item-action"><span class="lead">Coming from</span> -
                            France</li>
                        <li class="list-group-item list-group-item-action"> <span class="lead">Current Location</span>
                            -
                            Currently
                            in
                            Kaivalaya Kutir
                            159 (Ashram)
                        </li>
                        <li class="list-group-item list-group-item-action"> <span class="lead">Programming skills</span>
                            -
                            HTML/CSS/JS/Java/Python/R/C
                            (learning Angular for front end dev)</li>
                        <li class="list-group-item list-group-item-action"> <span class="lead">Project</span> -
                            going
                            to work on
                            the purchase app in the team of Mathi anna</li>
                        <li class="list-group-item list-group-item-action"> <span class="lead">Who am I</span> - Hello
                            I am looking to help Isha touch more people while I also work on my inner growth.</li>
                    </ul>
                </div>
                <div id="avatar">&nbsp;

                    <img src="/assets/AVATAR.png">

                </div>
            </div>
        </div>


        <div id="interests">
            <br>
            <hr>
            <br>
            <h2>Interests</h2>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Movies</th>
                        <th>Books</th>
                        <th>Food</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Baraka</td>
                        <td>Brave new world</td>
                        <td>Paysam</td>
                    </tr>
                    <tr>
                        <td>The game</td>
                        <td>1984</td>
                        <td>Sanjeevani</td>
                    </tr>
                    <tr>
                        <td>Matrix</td>
                        <td>Game of Thrones</td>
                        <td>Pierogi</td>
                    </tr>
                </tbody>
            </table>

        </div>

        <br>
        <hr>
        <br>
        <h2>Quotes</h2>
        <p>Life is a dream, it's just that the dream is real - <span class="author">Sadhguru</span></p>
        <p>A physicist is just an atom's way of looking at itself. - <span class="author">Niels Bohr</span></p>
        <p>The sign of intelligence is that you are constantly wondering. Idiots are always dead sure about every damn
            thing they are doing in their life.- <span class="author">Sadhguru</span></p>
        <p>If you think hundred percent logically, there is really no possibility of life.- <span class="author">Sadhguru</span></p>
        <p>Mind is not in any one place. Every cell in this body has its own intelligence. The brain is sitting in your
            head, but mind is all over the place.- <span class="author">Sadhguru</span></p>
        <p>Krishna says in the Gita, “The worst crime in the world is indecision.”- <span class="author">Sadhguru</span></p>
        <p>Sex in the body is fine. Money in the wallet is fine. It is only a problem when they enter your mind.- <span
                class="author">Sadhguru</span></p>
        <p>People have fallen in love with words and lost the world. It’s time to regain it.- <span class="author">Sadhguru</span></p>
        <p>Before enlightenment; chop wood, carry water. After enlightenment; chop wood, carry water.- <span class="author">Buddha</span></p>
        <p>If you are depressed, you are living in the past. If you are anxious, you are living in the future. If you
            are at peace, you are living in the present.- <span class="author">Lao Tzu</span></p>
        <p>Do you have the patience to wait until your mud settles and the water is clear?- <span class="author">Lao
                Tzu</span></p>
        <br>
        <hr>
        <br>
        <h2>Made thanks to</h2>
        <ol>
            <li><a href="https://drive.google.com/file/d/1krxayxfgwlXC1-WOVYXNVQjI6Df83K31/view" target="_blank">Model</a></li>
            <li><a href="https://htmlcheatsheet.com/" target="_blank">Cheatsheet</a></li>
            <li><a href="https://www.w3schools.com/html/default.asp" target="_blank">w3schools</a></li>
        </ol>

    </div>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>